:root {
  --main-bg: cyan;
}

.mainStyle {
  color: rgb(174, 21, 174);
  box-shadow: 5px 5x 5x blueviolet;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 10px dashed rgb(240, 80, 240);
  border-radius: 35px;
  padding: 10px;
  margin-bottom: 20px;
  height: auto;
  width: auto;
}

.inputForm {
  background-color: rgb(228, 109, 228);
  display: block;
  margin: auto;
  padding: 10px;
  font-size: medium;
  border-radius: 20px;
}

.inputEls {
  box-shadow: 5px 5px 5px rgb(237, 237, 169);
  margin: 20px 40px 20px 40px;
  font-weight: bold;
  border-radius: 20px;
  padding: 5px;
}

.inputEls:hover {
  background-color: cyan;
  color: blue;
  font-size: large;
}

.button {
  width: 100px;
  height: 40px;
  font-size: large;
  background-color: blue;
  color: cyan;
  box-shadow: 5px 5px 5px rgb(237, 237, 169);
  border-radius: 20px;
}

.button:hover {
  transform: rotate(180deg);
  transition: transform 4s;
}

.storyDivStyle {
  background-color: cyan;
  color: blue;
  width: auto;
  height: auto;
  border: 5px dashed violet;
  border-radius: 20px;
  margin: 10px auto;
  padding: 5px;
}

body {
  background-color: black;
}

#actionButtons {
  font-size: large;
  background-color: violet;
  border-radius: 20px;
  height: auto;
  width: auto;
  margin: 10px auto;
  box-shadow: none;
  visibility: hidden;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 5px dashed blue;
}

#replayButton,
#newStoryButton {
  width: auto;
  height: auto;
  font-size: medium;
  background-color: blue;
  color: cyan;
  box-shadow: 5px 5px 5px rgb(237, 237, 169);
}
